<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title fxLayoutAlign="center center">login</mat-card-title>
    <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="login(loginForm.value)" fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-content>
            <mat-form-field>
                <input matInput type="text" placeholder="Username" formControlName="username" id="username">
                <mat-error *ngIf="hasError('username', 'required')">Name is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="password" formControlName="password">
                <mat-error *ngIf="hasError('password', 'required')">Address is required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
        </mat-card-actions>
    </form>
        </mat-card>
</section>
      